<!DOCTYPE html>
<html lang="en">
<head>
    <title>Details and Summary</title>
    <style>
        details{
            margin: 20px;
            display: inline;
        }
    </style>
</head>
<body>
    <details>
        <summary>Java full-stack</summary>
        <ul>
            <li>Core java</li>
            <li>Advance java</li>
            <li>Spring & Hibernate</li>
            <li>Sql</li>
            <li>Web Technologies</li>
            <li>Aptitude</li>
            <li>Placements</li>
        </ul>
    </details>

    <details>
        <summary>Java full-stack</summary>
        <ul>
            <li>Core java</li>
            <li>Advance java</li>
            <li>Spring & Hibernate</li>
            <li>Sql</li>
            <li>Web Technologies</li>
            <li>Aptitude</li>
            <li>Placements</li>
        </ul>
    </details>

    <details>
        <summary>Java full-stack</summary>
        <ul>
            <li>Core java</li>
            <li>Advance java</li>
            <li>Spring & Hibernate</li>
            <li>Sql</li>
            <li>Web Technologies</li>
            <li>Aptitude</li>
            <li>Placements</li>
        </ul>
    </details>
</body>
</html>